{% extends "base.html"%} {% load static %}

{% block page-title %}
<h1> List Laporan </h1>
{% endblock page-title %}
{% block page-position %}
<li class="breadcrumb-item"><a href="#">LED Temporary</a></li>
<li class="breadcrumb-item active">List Laporan</a></li>
{% endblock page-position %}

{% block container-1 %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List Led</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Periode Awal</th>
                    <th>Periode Akhir</th>
                    <th>Kategori</th> 
                    <th>Creator</th>
                    <th>Belum review</th>
                    <th>Save</th>
                    <th>Submit</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for data in laporan %}
                <tr>
                    <td><a href="{% url 'listLedReport' data.id %}">{{data.nama}}</a></td>
                    <!-- <td><a href=""></a>{{data.tanggal_kejadian}}</a> </td> -->
                    <td>{{data.periode_awal}}</td>
                    <td>{{data.periode_akhir}}</td>
                    <td>{{data.kategori.nama}}</td>
                    <td>{{data.creator}}</td>   
                    <td>{{data.ks_belumrv}}</td>   
                    <td>{{data.ks_save}}</td>   
                    <td>{{data.ks_submit}}</td>        
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>




{% endblock container-1 %}