{% extends "base.html"%} {% load static %}
{% block style-container %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock style-container %}



{% block page-title %}
<h1> Laporan Histori</h1>
{% endblock page-title %}

{% block page-position %}
<li class="breadcrumb-item"><a href="{% url 'listHistori' %}">"Laporan Histori</a></li>
<li class="breadcrumb-item active">{{lapName.nama}}</li>
{% endblock page-position %}



{% block container-1 %}

<div class="buttonGroup d-flex justify-content-end mr-2">
    <div class="form-group row">
        <div class="form-group row mr-3">
            <div class="mr-2">
                <a href="{% url 'exportHistori' lapId hsId %}"><button type="button"
                        class="btn btn-block btn-primary btn-sm">Export</button></a>
            </div>
           
        </div>
    </div>

</div>
<div class="ledInfo">
<div class="col-md-10 col-form-label">

   <label class="col-sm-2 col-form-label">Total Data :  </label>
    <div class="col-md-4">{{sizeData}}</div>

</div>
</div>
<div class="form-group ">
    

</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{laporan.nama}}</h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>

                    <th>No Kasus</th>
                    <th>Tanggal Kejadian</th>
                    <th>Tanggal Teridentifikasi</th>
                    <th>Tanggal Input</th>
                    <th>Tanggal Selesai</th>
                    <th>Tanggal Update</th>
                    <th>Jumlah Kasus</th>
                    <th>Tipe LED</th>
                    <th>Nama Pembuat</th>
                    <th>Status</th>
                    <th>Kode Cabang</th>
                    <th>Kode Produk</th>
                    <th>Nama Penemu</th>
                    <th>Kode Kategori Kejadian</th>
                    <th>Kode Penyebab</th>
                    <th>Business Line</th>
                    <th>COA biaya</th>
                    <th>Mata Uang</th>
                    <th>Nilai Tukar</th>
                    <th>Kerugian Potensial</th>
                    <th>RRA</th>
                    <th>Recovery</th>
                    <th>Kerugian Aktual</th>
                    <th>Tnaggal Review</th>
                    <th>Reviewer</th>
                    <th>Hasil Review</th>
                    <th>Keterangan Review</th>
                    <th>Summary kejadian</th>
                    <th>Kronologi kejadian</th>
                    <th>Tindakan Unit Kerja</th>
                    <th>Tindakan Perbaikan</th>
                    <th>Dibuat Oleh</th>
                    <th>Disetujui Oleh</th>
                    <th>Risiko Kredit</th>
                    <th>Histori</th>
                    <td style="padding-left: 20px;">{{DataRA.status1}}</td>

                </tr>
            </thead>
            <tbody>
                {% for data in ledHistori %}
                <tr>
                    <td><a href="">{{data.nomor_kasus}}</a></td>
                    <td><a href=""></a>{{data.tanggal_kejadian}}</a> </td>
                    <td>{{data.tanggal_teridentifikasi}}</td>
                    <td>{{data.tanggal_input}}</td>
                    <td>{{data.tanggal_selesai}}</td>
                    <td>{{data.tanggal_update|default_if_none:""}}</td>
                    <td>{{data.jumlah_kasus}}</td>
                    <td>{{data.nama_pembuat}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.kde_cabang}}</td>
                    <td>{{data.kode_produk}}</td>
                    <td>{{data.nama_penemu}}</td>
                    <td>{{data.kode_ktg_kejadian}}</td>
                    <td>{{data.kode_penyebab}}</td>
                    <td>{{data.bussines_line}}</td>
                    <td>{{data.coa_biaya}}</td>
                    <td>{{data.mata_uang}}</td>
                    <td>{{data.nilai_tukar}}</td>
                    <td>{{data.kerugian_potensial}}</td>
                    <td>{{data.rra}}</td>
                    <td>{{data.recovery}}</td>
                    <td>{{data.kerugian_aktual}}</td>
                    <td>{{data.tanggal_review}}</td>
                    <td>{{data.reviewer}}</td>
                    <td>{{data.hasil_review}}</td>
                    <td>{{data.keterangan_review}}</td>
                    <td>{{data.summary_kejadian}}</td>
                    <td>{{data.kronologi_kejadian}}</td>
                    <td>{{data.tindakan_unit_kerja}}</td>
                    <td>{{data.tindakan_perbaikan}}</td>
                    <td>{{data.dibuat_oleh}}</td>
                    <td>{{data.ditemukan_oleh}}</td>
                    <td>{{data.disetujui_oleh}}</td>
                    <td>{{data.risiko_kredit}}</td>
                    <td>{{data.historis_date}}</td>
                    <td style="padding-left: 20px;">{{DataRA.status1}}</td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

{% endblock container-1 %}
{% block script-container %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock script-container %}