{% extends "base.html"%} {% load static %}
{% block style-container %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock style-container %}



{% block page-title %}
<h1> Detail Laporan</h1>
{% endblock page-title %}

{% block page-position %}
<li class="breadcrumb-item"><a href="#">LED Temporary</a></li>
<li class="breadcrumb-item"><a href="#">List Laporan</a></li>
<li class="breadcrumb-item active"><a href="{% url 'listLedReport' laporan.id %}">{{laporan.nama}}</a></li>
<li class="breadcrumb-item active">Diubah</li>
{% endblock page-position %}



{% block container-1 %}

<div class="buttonGroup d-flex justify-content-end mr-2">
<!-- <div class="form-group row">
    <div class="">
        #export perubahan
        <a href="{% url 'export' laporan.id %}"><button type="button" class="btn btn-block btn-primary btn-sm">Export</button></a>

    </div>


</div> -->

</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{laporan.nama}}</h3>
        <div class="card-tools">
            
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Tanggal Ubah</th>
                    <th>User</th>
                    <th>LED</th>
                    <th>Perubahan Pada</th>
                    <th>Awal</th> 
                    <th>Hasil Perubahan</th>
                    <th>Alasan</th>
                    <th>Reviewer</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for data in perubahanData %}
                <tr>
                    <td>{{data.created_at}}</td>
                    <td>{{data.user}} </td>
                    <td>{{data.no_kasus}}</td>
                    <td>{{data.nama_kolom}}</td>
                    <td>{{data.data_lama}}</td>
                    <td>{{data.data_baru}}</td>
                    <td>{{data.alasan}}</td>
                    <td>{{data.reviewer}}</td>


                    


                   
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>




{% endblock container-1 %}

{% block script-container %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock script-container %}